body {
   overflow: hidden;
}

div.hide { display: none; }
.hide { display: none; }
.disable {
   opacity: 0.5;
   pointer-events: none;
}

.s-app {
   min-width: 300px;
   width: calc(100vw - 20px);
   height: calc(100vh - 20px);
   overflow: hidden;
   display: flex;
   flex-direction: column;
   margin: 10px;
   text-transform: none;
}
.s-app-bar {
   flex: 1 0 auto;
   height: 0px;
   overflow: hidden;
   display: flex;
}
.s-nav-bar {
   border-right: 1px solid #666;
   margin-right: 5px;
   padding-right: 5px;
}
.s-view {
   flex: 1 0 auto;
   width: 0px;
   height: 100%;
   overflow: hidden;
}
.s-view-inner {
   width: 100%;
   height: 100%;
   overflow: hidden;
   display: flex;
}

.s-tab-view-nodata {
   border: 3px dashed #ccc;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
}
.s-tab-view-nodata > div {
   margin: auto;
   text-align: center;
}
.s-tab {
   width: calc(100% - 40px);
   padding: 20px;
}
.s-flex { display: flex; }
.s-flex.inline { display: inline-flex; }
.s-flex.col { flex-direction: column; }
.s-full-w { width: 100%; }
.s-full-h { height: 100%; }
.s-scrollable { height: 0px; flex: 1 0 auto; overflow-y: auto; }
.s-text-center { text-align: center; }

.s-gray { color: #ccc; }
.s-number {
   width: 50px;
   text-align: center;
}
.s-code {
   width: 60px;
   text-align: right;
   margin-right: 5px;
   cursor: pointer;
}
.s-text {
   width: 65px;
   text-align: right;
   margin-right: 5px;
   cursor: pointer;
}
.s-number.red { color: red }
.s-number.green { color: lime; }
.s-number.gray { color: #ccc; }
.s-number-rate {
   width: 60px;
   text-align: center;
}
.s-number-rate.red { color: red; }
.s-number-rate.green { color: lime; }
.s-number-rate.gray { color: #ccc; }
.s-list-item:hover {
   opacity: 0.8;
}
.s-list-item-overview-data { user-select: text; }
.s-fav {
   width: 12px;
   height: 12px;
   margin-right: 5px;
   border: none;
   margin-top: 2px;
   background-repeat: no-repeat;
   background-image: url("../img/af-star-outline.svg");
}
.s-fav.fav-ed {
   background-image: url("../img/af-star.svg");
}
.s-view-canvas {
   width: 100%;
}

.nav-icon-button {
   padding: 2px;
   margin: 2px 2px 10px 2px;
   display: flex;
   flex-direction: column;
   justify-items: center;
   cursor: pointer;
   opacity: 0.5;
}
.nav-icon-button:hover {
   opacity: 0.8;
}
.nav-icon-button.active {
   opacity: 1;
}
.nav-icon-button > img {
   margin: 0 auto;
   display: block;
   width: 24px;
   height: 24px;
}
.nav-icon-button > div {
   text-align: center;
}

.loading {
   pointer-events: none;
   user-select: none;
   background-color: white;
   opacity: 0.3;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 100;
}
